* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#banner-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.overlay {
    background-image: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: inherit;
    padding: 175px 0;
}

.middle-box {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
}

.banner-text {
    padding: 30px 125px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

.link-btn {
    text-decoration: none;
    display: inline-block;
    background-color: #ff5959;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #ff5959;
    cursor: pointer;
}

#amount-section {
    padding: 100px 0;
}

.amount-main-box {
    width: 65%;
}

.section-headings {
    text-align: center;
}

.section-headings h1 {
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    font-weight: 600;
}

.section-headings p {
    font-size: 18px;
    line-height: 28px;
    padding: 20px 125px 50px;
}

.amount-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.amount-list-item {
    width: 135px;
    height: 123px;
    background-color: #fafafa;
    border-radius: 5px;
    color: #707070;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active-amount {
    background-color: #ffeeee;
    border: 2px solid #ff5959;
    color: #ff5959;
}

.amount-input {
    width: 100%;
    text-align: center;
    outline: 0;
    border: none;
    border-bottom: 1px solid #dadada;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.amount-input::placeholder {
    color: #b3b3b3;
    font-size: 18px;
    line-height: 28px;
}

#donate-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.plan-heading-container {
    width: 65%;
}

.plans-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.plan-bg1 {
    background-color: #edf5f6;
}

.plan-bg2 {
    background-color: #ffeeee;
}

.plan-bg3 {
    background-color: #fff4d6;
}

.plan-item {
    padding: 50px 20px;
    border-radius: 5px;
    width: 25%;
}

.plan-item img {
    width: 60px;
    height: 50px;
}

.plan-item h2 {
    color: #121212;
    font-size: 24px;
    line-height: 36px;
    padding: 20px 0;
}

.plan-item p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

#subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.subscribe-container {
    width: 65%;
}

.subscribe-container form {
    width: 100%;
    background-color: #fff4d6;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.position-relative {
    position: relative;
}

.subscribe-container form input {
    border: none;
    background-color: #d9d9d9;
    color: #aa9f9f;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 400px;

}

.subscribe-container form input:focus {
    border: none;
    outline: 0;
}

.subscribe-container form label {
    position: absolute;
    background-color: #ff5959;
    padding: 12px 20px;
    border-radius: 0px 5px 5px 0px;
    top: -1px;
    right: 0px;
    color: #fff;
}